.container {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.input-row {
  display: flex;
  gap: 10px; /* Space between each input */
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

button {
  padding: 8px 15px;
  font-size: 14px;
  background-color: rgb(69, 69, 221);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #408bec;
}

.stock-list {
  margin-top: 30px;
  text-align: left;
}

.stock-list h2 {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 10px;
}

.stock-info p {
  margin: 5px 0;
  font-size: 18px;
}

.profit {
  color: green;
}

.loss {
  color: red;
}
