.dropdown-container {
    width: 100%; /* Set width as needed */
    padding: 8px 15px;
}

.searchInput {
    width: 170px;
    padding: 8px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.suggestionBox {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    width: 170px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 10;
}

.suggestionItem {
    padding: 1px;
    cursor: pointer;
}

.suggestionItem:hover {
    background-color: #f0f0f0;
}


