
.dropdown-container {
    padding: 8px 15px;
}

.searchInput {
    padding: 8px 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.suggestionBox {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    z-index: 10;
}

.suggestionItem {
    font-size: 10px;
    margin-left: 1px;
    padding: 1px;
    cursor: pointer;
}

.suggestionItem:hover {
    background-color: #f0f0f0;
}

