.header {
    display: flex; /* Use flexbox for horizontal alignment */
    align-items: center; /* Center items vertically */
    padding: 20px; /* Add some padding */
}

@media (max-width: 1300px) { /*smaller screen */
    .header {
      font-size: 26px;
      padding: 20px;
    }

    .finance-logo{
        margin-right: 32px;
    }
  }

@media (max-width: 1200px) { /*smaller screen */
    .header {
      font-size: 24px;
      padding: 19px;
    }

    .finance-logo{
        margin-right: 31px;
    }
  }

@media (max-width: 1100px) { /*smaller screen */
    .header {
      font-size: 22px;
      padding: 18px;
    }

    .finance-logo{
        margin-right: 30px;
    }
  }

@media (max-width: 1000px) { /*smaller screen */
    .header {
      font-size: 20px;
      padding: 17px;
    }

    .finance-logo{
        margin-right: 28px;
    }
  }

@media (max-width: 900px) { /*smaller screen */
    .header {
      font-size: 18px;
      padding: 16px;
    }

    .finance-logo{
        margin-right: 25px;
    }
  }

@media (max-width: 800px) { /*smaller screen */
    .header {
      font-size: 17px;
      padding: 15px;
    }
  }
  

@media (max-width: 700px) { /*smaller screen */
    .header {
      font-size: 16px;
      padding: 14px;
    }
  }


@media (max-width: 600px) { /*smaller screen */
    .header {
      font-size: 15px;
      padding: 13px;
    }
  }

@media (max-width: 500px) { /*smaller screen */
    .header {
      font-size: 14px;
      padding: 10px;
    }
  }

@media (max-width: 400px) { /*smaller screen */
    .header {
      font-size: 12px;
      padding: 10px;
    }
  }

  @media (max-width: 300px) { /*smaller screen */
    .header {
      font-size: 10px;
      padding: 10px;
    }
  }

.finance-logo {
    width: 50px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 1px; /* Space between logo and text */
}
