.header {
    display: flex; /* Use flexbox for horizontal alignment */
    align-items: center; /* Center items vertically */
    padding: 20px; /* Add some padding */
}

@media (max-width: 400px) { /*smaller screen */
    .header {
      font-size: 24px;
      padding: 10px;
    }
  }

.finance-logo {
    width: 50px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Space between logo and text */
}
