.header {
    display: flex; /* Use flexbox for horizontal alignment */
    align-items: center; /* Center items vertically */
    padding: 20px; /* Add some padding */
}

@media (max-width: 1100px) { /*smaller screen */
    .header {
      font-size: 34px;
      padding: 10px;
    }
  }

@media (max-width: 1000px) { /*smaller screen */
    .header {
      font-size: 32px;
      padding: 10px;
    }
  }

@media (max-width: 900px) { /*smaller screen */
    .header {
      font-size: 30px;
      padding: 10px;
    }
  }

@media (max-width: 400px) { /*smaller screen */
    .header {
      font-size: 12px;
      padding: 10px;
    }
  }

  @media (max-width: 300px) { /*smaller screen */
    .header {
      font-size: 9px;
      padding: 10px;
    }
  }

.finance-logo {
    width: 50px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Space between logo and text */
}
