.container {
    position: relative;
}

.searchInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #6a6767;
    border-radius: 4px;
    box-sizing: border-box;
}

.suggestionBox {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
}

.suggestionItem {
    padding: 10px;
    cursor: pointer;
}

.suggestionItem:hover {
    background-color: #f0f0f0;
}
